<h2>Weather Forecast for <%= city %></h2>
<% if (daysData) { %>
  <ul>
    <% daysData.forEach((dayObj, index) => { %>
      <% if (index === 0) { %>
        <!-- PIERWSZY DZIEŃ: Szczegółowa lista godzin -->
        <div class="day-header">
          <%= dayObj.dayOfWeek %> - <%= dayObj.date %>
        </div>
        <ul>
          <% dayObj.hours.forEach(hourData => { %>
            <li>
              Time: <%= hourData.time %>, 
              Temperature: <%= hourData.temperature %>°C
            </li>
          <% }) %>
        </ul>
      <% } else { %>
        <!-- POZOSTAŁE DNI: Tylko nazwa dnia, data i średnia temperatura -->
        <div class="day-header">
          <%= dayObj.dayOfWeek %> - <%= dayObj.date %>
        </div>
        <p>Average Temperature: <%= dayObj.avgTemp.toFixed(1) %>°C</p>
      <% } %>
    <% }) %>
<% } else { %>
  <p>No weather data available.</p>
<% } %>

<ul class="hourly-forecast">
  <% for (let index = 0; index < 12; index++) { %>
    <li>
      <div class="hourly-forecast-item">
        <p><%= dateAndTime(weatherData.hourly.time[index]).time %></p>
        <p><%= weatherData.hourly.temperature_2m[index] %>°C</p>
      </div>
    </li>
  <% } %>
</ul>
<ul class="hourly-forecast">
  <% for (let index = 12; index < weatherData.hourly.time.length; index++) { %>
    <li>
      <div class="hourly-forecast-item">
        <p><%= dateAndTime(weatherData.hourly.time[index]).time %></p>
        <p><%= weatherData.hourly.temperature_2m[index] %>°C</p>
      </div>
    </li>
  <% } %>
</ul> 